<!-- Facade for authenticating users. -->
<template name='login'>
<div class="row view-login">
  <div class="large-4 columns">
    <div class="large-12 prompt">
      <p>already have an account?</p>
    </div>
    <div class='login large-12 columns'>
      <h3>Login</h3>
      <input type='button' class='fb button' value='Login with Facebook'>
      <div class='or'>or</div>
      {{#if forgot}}
      <form id='forgot-pass-form'>
        <input type='email' name='email' placeholder='Email'>
        <input type='submit' id='forgot-button' value='{{ button-msg }}' class='button {{ button-class }}'>
        <p class='forgot-pass'>Cancel</p>
      </form>
      {{else}}
      <form id="login-form" method="post" action="login">
        <input name="email" type="text" placeholder="Email" />
        <input name="password" type="password" placeholder="Password" />
        <input class="{{ button-class }} button" type="submit" id="login-button" value="{{ button-msg }}">
        <p class='forgot-pass'>Forgot Password?</p>
      </form>
      {{/if}}
    </div>
  </div>
  
  <div class="large-8 columns">
    <div class="large-12 prompt">
      <p>need a new account?</p>
    </div>
    <form id="register-form" class="signup large-12" method="post" action="api/users/">
      <h3>Sign Up</h3>
      <label>Name</label>
      <div class="row">
        <div class="large-12 columns">
          <input name="name" type="text" placeholder="Full Name" />
        </div>
      </div>
      <label>UPenn Email</label>
      <input name="email" pattern='(.*)upenn\.edu$' type="text" placeholder="" />
      <label>Password</label>
      <div class="row">
        <div class="large-6 columns">
          <input name="password" type="password" placeholder="Enter Password" />
        </div>
        <div class="large-6 columns">
          <input name="confirm" type="password" placeholder="Confirm Password" />
        </div>
      </div>
      <label>Description</label>
      <textarea name="description" placeholder="Your club and position within it, any other relevant information"></textarea>
      
      <input class="button" type="submit" id="register-button" value="Register">
    </form>
  </div>
</div>
</template>
