<template name='footer'>
<div id="footer">
  <div class="row">
    <div class="large-12 columns">
      <div id="footer-nav">
        <ul>
          <li><a href="mailto:marketing@thedp.com">Contact</a></li>
          <li>Run by <a href='http://thedp.com'><img class='logo' alt='The Daily Pennsylvanian' src='https://s3.amazonaws.com/eventsatpenn/thedp.png'></a></li>
          <li>Funded by the <a href='http://pennua.org'>UA</a></li>
        </ul>
      </div>
      <div id="footer-details">
        <p>Copyright &copy; 2015 Penn Labs</p>
      </div>
    </div>
  </div>
</div>
</template>
