<template name='footer'>
<div id="footer">
  <div class="row">
    <div class="large-12 columns">
      <div id="footer-nav">
        <ul>
          <li><a href="mailto:contact@pennlabs.org">Contact</a></li>
          <li><a href='http://pennlabs.org'><img class='logo' alt='Penn Labs' src='/labslogow.png'></a></li>
          <li>Funded by the <a href='http://pennua.org'>UA</a></li>
        </ul>
      </div>
      <div id="footer-details">
        <p>Copyright &copy; 2017 Penn Labs</p>
      </div>
    </div>
  </div>
</div>
</template>
