<template name='sidebar'>
<div class="large-12 columns sidebar-content">
  <form>
    <h5 class="shift-right">Date</h5>
    <input class='date' value="{{ after_date }}" type="date" placeholder="mm/dd/yyyy" />
    <hr/>
    <h5>Categories</h5>
    {{#each categories }}
      <label><input {{ checked . }} class='category-checkbox' type="checkbox" value='{{ escape_category . }}'>{{ . }}</label>
    {{/each}}
  </form>
  <a target='_blank' class='social-icons' href='http://twitter.com/@_EventsAtPenn'>
    <img alt="Twitter" src='twitter.png'>
  </a>
  <a target='_blank' class='social-icons'href='https://www.facebook.com/eventsatpenn'>
    <img alt="Facebook" src='facebook.png'>
  </a>
</div>
<div class="large-12 columns sidebar-fold">
  <span class="arrow"></span>
  <h5 class="collapse-shift-right">Filters</h5>
</div>
</template>
