<template name='topbar'>
<div class="fixed contain-to-grid">
  <nav class="top-bar">
    <ul class="title-area">
      <a href="http://www.thedp.com/">
        <img class="dp-logo" src="/final-logo-rsz.png">
      </a>
      <li class="name">
        <h1><a class="home" href="/">events@penn</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li class="has-form">
          <form class="search">
            <div class="row collapse">
              <div class="small-10 columns">
                <input id="searchbox" type="text" placeholder='Search' value='{{ q }}'>
              </div>
              <div class="small-2 columns">
                <button type='submit' href="#" class="alert button"><span class="icon icon-search"></span></button>
              </div>
            </div>
          </form>
        </li>
        <li class='divider'></li>
        {{#if currentUser }}
        <li><a href="/new" class="create"><span class="icon icon-plus"></span>Create Event</a></li>
        <li class='divider'></li>
        <li class="has-dropdown">
          <a class="user" href="/user/{{ currentUser._id }}">{{ currentUser.profile.name }}</a>
          <ul class="dropdown">
            <li>{{> settingsButton }}</li>
            <li><a href="#" class="logout">Logout</a></li>
          </ul>
        </li>
        {{else}}
        <li><a href='/login'>Login / Register</a></li>
        {{/if}}
      </ul>
    </section>
  </nav>
</div>
</template>
