/* view-event is not used anywhere */
.view-event .card {
  margin-top: 15px; }

.card .promote {
  color: #b54536;
  cursor: pointer;
  position: relative;
}
.card .unpromote {
  color: #8596ab;
  cursor: pointer;
  position: relative;
}
.card .promote:active, .card .unpromote:active {
  top: 1px;
  left: 1px;
}



@media only screen and (max-width: 767px) {
  .view-event .card .image {
    display: block; } }
