<!-- Facade for authenticating users. -->
<template name='login'>
<div class="row view-login">
  <div class="large-4 columns">
    <div class="large-12 prompt">
      <p>already have an account?</p>
    </div>
    <form id="login-form" class="login large-12" method="post" action="login">
      <h3>Login</h3>
      <input type='button' class='fb button' value='Login with Facebook'>
      <div class='or'>or</div>
      <input name="email" type="text" placeholder="Email" />
      <input name="password" type="password" placeholder="Password" />
      <input class="{{ login_class }} button" type="submit" id="login-button" value="{{ login_error }}">
    </form>
  </div>
  
  <div class="large-8 columns">
    <div class="large-12 prompt">
      <p>need a new account?</p>
    </div>
    <div class="signup">
    <h3>Sign Up</h3>
    {{> user_form }}
    </div>
  </div>
</div>
</template>
