<template name='footer'>
<div id="footer">
  <div class="row">
    <div class="large-12 columns">
      <div id="footer-nav">
        <ul>
          <li><a href="mailto:marketing@thedp.com">Contact</a></li>
          <li>Run by <a href='http://thedp.com'><img class='logo' alt='The Daily Pennsylvanian' src='https://s3.amazonaws.com/eventsatpenn/thedp.png'></a></li>
          <li>Funded by the <a href='http://pennua.org'>UA</a></li>
        </ul>
      </div>
      <div id="footer-details">
        <p>Copyright &copy; 2013 PennApps Labs</p>
      </div>
    </div>
  </div>
</div>
</template>

<template name='topbar'>
<div class="fixed contain-to-grid">
  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><a class="home" href="/">events@penn</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>
    <section class="top-bar-section">
      <ul class="left">
        <li class="has-form">
          <form class="search">
            <div class="row collapse">
              <div class="small-10 columns">
                <input id="searchbox" type="text" placeholder='Search' value='{{ q }}'>
              </div>
              <div class="small-2 columns">
                <button type='submit' href="#" class="alert button"><span class="icon icon-search"></span></button>
              </div>
            </div>
          </form>
        </li>
      </ul>
    </section>
    <section class="top-bar-section">
      <ul class="right">
        <li><a href="http://thedp.com" target='_blank'><img class="logo" alt="The Daily Pennsylvanian" src="https://s3.amazonaws.com/eventsatpenn/thedp.png"></a></li>
        <li class='divider'></li>
        {{#if currentUser }}
        <li><a href="/new" class="create"><span class="icon icon-plus"></span>Create Event</a></li>
        <li class='divider'></li>
        <li class="has-dropdown"><a class="user" href="/user/{{ currentUser._id }}">{{ currentUser.profile.name }}</a>
          <ul class="dropdown">
            <li>{{> logout }}<li>
          </ul>
        </li>
        {{else}}
        <li><a href='/login'>Login / Register</a></li>
        {{/if}}
      </ul>
    </section>
  </nav>
</div>
</template>

<template name="search">
<div class='row'>
  <div class='large-3 columns sidebar'>
    {{> sidebar }}
  </div>
  <div class='large-9 columns'>
    {{#each events}}
    {{> show_or_edit_event }}
    {{else}}
    No results found.
    {{/each}}
    {{> pagination }}
  </div>
</div>
</template>

<template name='all'>
<div class='row'>
  <div class='large-3 columns sidebar'>
    {{> sidebar }}
  </div>
  <div class='large-9 columns'>
    <h4>Featured Events</h4>
    {{#each featured_events }}
    {{> show_or_edit_event }}
    {{else}}
    No featured events.
    {{/each}}

    <h4>All Events</h4>
    {{#each all_events}}
    {{> show_or_edit_event }}
    {{else}}
    No upcoming events.
    {{/each}}
    {{> pagination }}
  </div>
</div>
</template>

<template name='pagination'>
<div class='pagination'>
  <a class='{{ prev_disabled }}' href='{{ prev }}'>Previous</a><a class='right' href='{{ next }}'>Next</a>
</div>
</template>

<template name='sidebar'>
<div class="large-12 columns sidebar-content">
  <form>
    <h5>Date</h5>
    <input class='date' value="{{ after_date }}" type="date" placeholder="mm/dd/yyyy" />
    <hr/>
    <h5>Categories</h5>
    {{#each categories }}
      <label><input {{ checked . }} class='category-checkbox' type="checkbox" value='{{ escape_category . }}'>{{ . }}</label>
    {{/each}}
  </form>
  <h6><a target='_blank' href='http://twitter.com/@_EventsAtPenn'>Follow @_EventsAtPenn</a></h6>
  <h6><a target='_blank' href='https://www.facebook.com/eventsatpenn'>Like EventsatPenn</a></h6>
</div>
<div class="large-12 columns sidebar-fold">
  <span class="arrow"></span>
  <h5>Filters</h5> </div>
</template>
